#header h1 {
    color: aliceblue;
    text-align: center;
    padding-top: 100px;
}

body {
    font-family: "poppins", sans-serif;
}

#header p {
    text-align: center;
    color: aliceblue;
}

.donate {
    margin-left: 48%;
    margin-top: 10px;
    background-color: #FF5959;
    text-decoration: none;
    color: aliceblue;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 10px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header {
    background-image: url(images/donation6.jpg);
    background-size: cover;
    padding-bottom: 200px;
}


section {
    display: flex;
}

.donate-today {
    text-align: center;
    margin-top: 100px;
}

.amount {
    margin-left: 30%;
    margin-top: 50px;
}

.one {
    background-color: #edede9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.5s;

}

.one:hover {
    background-color: #FFEEEE;
    color: #FF5959;
}

.two {
    margin-left: 100px;
    background-color: #edede9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.5s;
}

.two:hover {
    background-color: #FFEEEE;
    color: #FF5959;
}

.five {
    margin-left: 100px;
    background-color: #edede9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.5s;
}

.five:hover {
    background-color: #FFEEEE;
    color: #FF5959;
}

.ten {
    margin-left: 100px;
    background-color: #edede9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.5s;
}

.ten:hover {
    background-color: #FFEEEE;
    color: #FF5959;
}

.fifty {
    margin-left: 100px;
    background-color: #edede9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.5s;
}

.fifty:hover {
    background-color: #FFEEEE;
    color: #FF5959;
}

input {
    border: none;
    border-bottom: 2px solid gray;
    margin-top: 50px;
    margin-left: 34%;
    width: 500px;
    padding-left: 300px;
    padding-top: 25px;
    margin-bottom: 30px;
}

::placeholder {
    font-family: "poppins", sans-serif;
    font-size: 20px;
}

#plan {
    text-align: center;
    margin-top: 130px;
    padding-left: 30%;
    padding-right: 30%;
}

.part {
    margin-left: 10%;
    margin-right: 10%;
}

.food {
    background-color: rgba(79, 157, 166, 0.1);
    width: 1100px;
    margin-right: 100px;
    padding-left: 20px;
    padding-top: 20px;

}

.shelter {
    background-color: rgba(255, 89, 89, 0.1);
    width: 1100px;
    padding-left: 20px;
    padding-top: 20px;


}

.education {
    background-color: rgba(250, 238, 6, 0.266);
    width: 1100px;
    margin-left: 100px;
    padding-left: 20px;
    padding-top: 20px;


}

.part {
    margin-left: 10%;
    margin-right: 10%;
}


.contribute {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px;
}

.contribute img {
    width: 800px;
    height: 500px;
}

.help {
    margin-right: 15%;
}

.contribute a {
    background-color: #FF5959;
    text-decoration: none;
    color: aliceblue;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 10px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}